header {
    background: #ffffff;
    padding:0 0;
    width: 100vw;
    overflow: hidden;
  }

  .navTop {
    display: flex;
    justify-content: space-between;
    padding:10px 100px;
    align-items: center;
  }
  .navTop button{
    font-size: larger;
  }

  .Logo{
    background: transparent;
    font-size: large;
  }

  .btnColoured{
    background: linear-gradient(#B73BBE, #992E9D);
    color: white;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0.5px 10px #fcc2ff;
  }
  .btnColoured:hover{
    background-color: #c31ecc;
  }
  
  .navBottom{
    background: #3B3B3E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 2px solid blue; */
  }

  .navBottom ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 500;
    color: #c5c4c4;
    /* border: 2px solid red; */
    width: 100vw;
  }
  li:nth-child(1){
    color: #ffffff;
  }
  li .active{
    border-top: 5px solid orange;
    width: 80px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    bottom: 0px;
  }

  .navBottom ul li{
    padding: 0 15px
  }


  @media (max-width: 575.98px) {

    header {
      background: #ffffff;
      padding:0 0;
      width: 100vw;
      overflow: hidden;
    }
    
    .navTop {
      display: flex;
      justify-content: space-between;
      padding:10px;
      align-items: center;
    }
    .navTop button{
      font-size: small;
    } 
    .Logo{
      font-size: small;
    }
    .navBottom ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: small;
      font-weight: 500;
      width: 100vw;
      color: #c5c4c4;
      padding: 0;
    }
    li .active{
      width: 60px;
    }
  }
  