.hero {
  background: #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 60px;
  padding: 10px 100px;
}

.mobile1 {
  display: none;
}
.hero-Initiative {
  width: 335px;
  padding: 19px 5px;
  font-size: 20px;
  border: 2px solid #ffdda4;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero-Initiative img {
  margin-right: 10px;
}

.hero-text strong h1 {
  color: #595961;
  font-size: 60px;
  line-height: 86px;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 25px;
}

.hero-coloured-text {
  color: #a433a9;
}
.hero-innertext {
  font-size: x-large;
  font-weight: lighter;
}

.feature {
  display: flex;
  margin-top: 13px;
}

.inner-feature {
  color: #bb5302;
  background-color: #fff4c5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 20px;
  border-radius: 20px;
}

.inner-feature img {
  margin-right: 4px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.inner-button {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.inner-button img {
  margin-left: 10px;
}

.inner-button:nth-child(1) {
  color: white;
  border-radius: 20px;
  padding: 25px 55px;
  box-shadow: 0px 0px 6px 0.2px #f38dfa;
  background: linear-gradient(#b73bbe, #992e9d);
}

.inner-button:nth-child(1):hover {
  background: linear-gradient(#992e9d,#b73bbe,rgb(187, 86, 255));
  transition: all 0.4s linear;
  transform: scale(1.05);
}
.inner-button:nth-child(2):hover {
  /* background: linear-gradient(#992e9d,#b73bbe,rgb(187, 86, 255)); */
  transition: all 0.4s linear;
  transform: scale(1.05);
}

.stats {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  padding: 70px;
  /* background: linear-gradient(to right, #B73BBE 0%, #992E9D 100%); */
  background: linear-gradient(
    to right,
    rgba(183, 59, 190, 0.05) 0%,
    rgba(153, 46, 157, 0.05) 100%
  );
}

.stats-innermain {
  display: flex;
  padding: 20px 48px;
  border-right: 1px solid gray;
  align-items: center;
}

.stat-innerdata {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin-left: 20px;
  font-weight: bold;
  color: #a433a9;
}

.stat-innerdata-type {
  font-size: 28px;
  color: #686972;
  font-weight: normal;
}

.course-curriculum {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(183, 59, 190, 0.05) 0%,
    rgba(153, 46, 157, 0.05) 100%
  );
}

.course-pc {
  display: block;
}

.course-mobile {
  display: none;
}

.course-curriculum h4 {
  background-color: #f9ebfc;
  border: 1px solid #f4d6f8;
  padding: 20px;
  font-size: 20px;
  border-radius: 28px;
  color: #a433a9;
  font-weight: 300;
  margin-bottom: 0px;
}

.course-curriculum h2 {
  color: #4c4d52;
  font-size: 50px;
  font-weight: bolder;
  /* font-size-adjust: 2px; */
}

.course-curriculum h2 span {
  background: linear-gradient(to right, #b73bbe 0%, #ebcb2e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For firefoxbrowser */
  color: transparent; /* For firefoxbrowser */
}

.coursemain {
  border-radius: 20px;
  border: 1px solid #e5e5e8;
  background-color: white;
}

.course:nth-child(1),
.course:nth-child(2),
.course:nth-child(3) {
  border-bottom: 1px solid #e5e5e8;
}

@media (max-width: 575.98px) {
  main {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .hero-Initiative {
    width: 80vw;
    padding: 19px 5px;
    font-size: 15px;
    border: 2px solid #ffdda4;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero {
    background: #ffffff;
    color: rgb(0, 0, 0);
    margin-top: 60px;
    padding: 20px 20px;
    /* border: 2px solid rebeccapurple; */
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile1 {
    /* border: 2px solid red; */
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* .mobile1 h1{
    border: 2px solid red;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */

  .hero-text strong h1 {
    color: #595961;
    /* border: 2px solid green; */
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 25px;
    padding-left: 15%;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
  }

  .pc1 {
    display: none;
  }

  .hero-innertextmobi {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    padding-left: 37px;
    width: 85vw;
    /* border: 2px solid red; */
  }

  .feature {
    flex-wrap: wrap;
    /* border: 2px solid darkblue; */
    width: 90vw;
    margin-left: 25px;
  }
  .inner-feature {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 40vw;
    height: 34px;
    /* gap: 20px; */
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 100px;
  }
  .inner-feature img {
    display: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    /* border: 2px solid black; */
  }

  .inner-button {
    width: 312px;
    height: 64px;
  }
  .stats {
    display: none;
  }

  .course-curriculum {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-bottom: 40px;
  }

  .course-curriculum h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .course-curriculum h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: center;
  }
  .course-pc {
    display: none;
  }

  .course-mobile {
    display: block;
  }
}
