.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color:  */
}

header, main, footer {
  width: 100%;
}

button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background: transparent;
  color:  #A433A9;
  cursor: pointer;
}


/* @media (max-width: 768px) {
  .hero-text {
    padding: 20px;
  }

  .stats {
    flex-direction: column;
  }
} */



